
## <summary>policy for raianetwork</summary>


########################################
## <summary>
##	Transition to raianetwork.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`raianetwork_domtrans',`
	gen_require(`
		type raianetwork_t, raianetwork_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, raianetwork_exec_t, raianetwork_t)
')


########################################
## <summary>
##	Execute raianetwork server in the raianetwork domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raianetwork_initrc_domtrans',`
	gen_require(`
		type raianetwork_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, raianetwork_initrc_exec_t)
')


########################################
## <summary>
##	Search raianetwork lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raianetwork_search_lib',`
	gen_require(`
		type raianetwork_var_lib_t;
	')

	allow $1 raianetwork_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read raianetwork lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raianetwork_read_lib_files',`
	gen_require(`
		type raianetwork_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, raianetwork_var_lib_t, raianetwork_var_lib_t)
')

########################################
## <summary>
##	Manage raianetwork lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raianetwork_manage_lib_files',`
	gen_require(`
		type raianetwork_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, raianetwork_var_lib_t, raianetwork_var_lib_t)
')

########################################
## <summary>
##	Manage raianetwork lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`raianetwork_manage_lib_dirs',`
	gen_require(`
		type raianetwork_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, raianetwork_var_lib_t, raianetwork_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a raianetwork environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`raianetwork_admin',`
	gen_require(`
		type raianetwork_t;
		type raianetwork_initrc_exec_t;
		type raianetwork_var_lib_t;
	')

	allow $1 raianetwork_t:process { ptrace signal_perms };
	ps_process_pattern($1, raianetwork_t)

	raianetwork_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 raianetwork_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, raianetwork_var_lib_t)

')

